body{
    background-color: aqua;
}

.nevbar{
    background-color: black;
    display: flex;
    height: 2rem;
}

.to-do{
    margin-top: 20px;
    background-color: blue;
    width: 50vh;
    height: 80vh;
}

h1{
    text-align: center;
}